@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  padding: 0;
  margin: 0;
  color: #fff;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(121, 169, 223);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  text-align: center;
}

.picture {
  background: url("bee.png");
  width: 216px;
  height: 192px;
  background-size: cover;
  flex-basis: 100%;
  margin: 100px auto;
}

.name {
  font-size: 4rem;
  flex-basis: 100%;
  margin-bottom: 50px;
}

button {
  border: 3px solid #444;
  background-color: #666;
  font-size: 3rem;
  transition: 0.5s;
  cursor: pointer;
  flex-basis: 100%;
}

button:hover {
  background-color: rgb(31, 105, 148);
}
