@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  padding: 0;
  margin: 0;
  color: #fff;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(223, 121, 121);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  text-align: center;
}

.bee__image {
  background: url("bee.png");
  width: 216px;
  height: 192px;
  background-size: cover;
  flex-basis: 100%;
  margin: 100px auto;
}

.bee__name {
  font-size: 4rem;
  flex-basis: 100%;
  margin-bottom: 50px;
}

button {
  border: 3px solid rgb(252, 214, 0);
  background-color: rgb(245, 166, 166);
  font-size: 3rem;
  transition: 0.5s;
  cursor: pointer;
  flex-basis: 100%;
}

button:hover {
  background-color: rgb(223, 121, 121);
}
